#app {
  --van-primary-color: #ff5fa7;
  --van-button-primary-background: #ff5fa7;
  --van-button-primary-border-color: #ff5fa7;
  --van-tabbar-item-active-color: #808082;
  --van-tabbar-item-text-color: #808082;
  --van-text-color: @font-color;
  --van-nav-bar-icon-color: @font-color;
  --van-button-small-padding: 0 30px;
  --van-button-small-height: 54px;
  // --van-button-small-font-size: 32px;
  --van-button-mini-padding: 0 30px;
  --van-button-mini-height: 36px;
  // --van-button-mini-font-size: 22px;
  --van-button-radius: 20px;
  --van-button-default-background: #CBCBCC;
  --van-button-default-color: #ffffff;
  --van-button-default-border-color: #CBCBCC;
  --van-tag-primary-color: #ff5fa7;
  --van-tag-padding: 2px 24px;
  --van-tag-font-size: 20px;
}


.van-cell {
  border-radius: 20px;
}

.van-button--small {
  line-height: 54px;
}
.custom-dialog {
  text-align: left;
  padding: 50px;
  .van-dialog__header {
    padding-top: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: left;
  }
  .van-dialog__content {
    .van-dialog__message {
      padding: 0;
      text-align: left;
    }
  }
  .custom-dialog-footer {
    text-align: center;
    margin-top: 50px;
    .van-button + .van-button {
      margin-left: 60px;
    }
  }
  .custom-dialog-footer-top-top {
    position: absolute;
    top: 40px;
    right: 40px;
  }
}
.van-tag.green {
  color: #43BD35;
  background-color: #D0FFC4;
}
.van-tag.pink {
  color: #FF5FA7;
  background-color: #FFC4FD;
}
.van-tag.blue {
  color: #354DBD;
  background-color: #C4D4FF;
}